# APP ###
app/conn.php

# Correctifs des évaluations de janvier
#modules/lpb/php/evals/janvier/correctifs/
modules/lpb/php/evals/janvier/*.zip
modules/lpb/php/evals/janvier/*.rar
modules/lpb/php/evals/album-photo/correctifs/
modules/lpb/javascript/evals/calculatrice/soluce/
modules/lpb/javascript/evals/mastermind/soluce/
modules/ldb/cours/evals/bibliotheque/soluce/



# Les sources
_src/

# MACOS ###
.DS_Store
.AppleDouble
.LSOverride

# WINDOWS ###
desktop.ini
*.tmp

# GIT ### 
.git/

# VSCODE ###
.vscode/

